*{
  margin: 0;
}

.navbar{
  background-color: #FF526B;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
  font-family: "Verdana";
  font-family: 'Roboto', sans-serif;
  color: white;
  box-shadow: 1px 1px 7px 1px grey;
}

.search{
  width: 20%;
  margin: 50px auto;
  border-radius: 20px;
  font-size: 18px;
  padding: 5px;
}

.searchButton{
  padding: 5px 5px;
  border: none;
  background: white;
  border-radius: 3px;
  color: black;
  font-size: 18px
}
.searchButton:hover {
  color: #FF526B;
  cursor: pointer;
}

.table{
  margin: 50px 10px;
}